html{
	font-size:20px;
	background:#ccc;
	height:100%;
}
body{
	width:100%;
	margin:0 auto;
	min-height:100%;
	background:#ebebeb;
	overflow-x:hidden;
	padding-bottom:3rem;
}
a:hover{
	text-decoration:none;
}
html.pc{
	body{
		width:640px;

	}
}
$color_border: #e0e0e0;
*{
	box-sizing:border-box;
}
.ellipsis{
	display:block;
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
header{
	top:0;
	padding:0.25rem 0.5rem;
	z-index:100;
	transition:all 0.6s;
	.left,.right{
		width:1.3rem;
		height:1.3rem;
		background:url('../img/main-btn.png') no-repeat center;
		background-size:70% auto;
		background-color:rgba(0,0,0,0.4);
		border-radius:50%;
	}
	.right{
		background-image:url('../img/main-search.png');

	}
	.middle{
		width:8.0rem;
		margin-left:2.15rem;
		height:1.3rem;
		border-radius:9999px;
		background-color:rgba(0,0,0,0.4);
		padding:0.2rem 0.5rem;
	}
	.left1,.right1{
		width:0.9rem;
		height:0.9rem;
		background:url('../img/trail.png') no-repeat center;
		background-size:100%;
	}
	.mid{
		text-align:center;
		a{
			color:#fff;
			font-size:0.625rem;
		}
	}
	.right1{
		background-image:url('../img/down-sj.png');
		background-size:30%;

	}
	&.on{
		border-bottom:1px solid $color_border;
		a{
			color:orange!important;
		}
		background-color:#fff;
		.left,.right,.middle{
			background-color:transparent;
		}
		.left{
			background-image:url('../img/top_l2.png');
		}
		.left1{
			background-image:url('../img/top_m1.png');
		}
		.right{
			background-image:url('../img/top_r2.png');
		}
		.right1{
			background-image:url('../img/top_m2.png');
		}
	}
}
.fixed{
	position:fixed;
	left:50%;
	width:16.0rem;
	margin-left:-8.0rem;
}
div.banner{
	width:16rem;
}
.swiper-container {
    width: 16.0rem;
    height:9.75rem;
    // .swiper-wrapper{
    // 	width:16.0rem;
    // }
    .swiper-slide{
    	width:16.0rem;
    height:9.75rem;
    	background-color:red;
    	img{
    		width:100%;
    		height:auto;
    	}
    }
}  
.box1{
	width:16.0rem;
	padding:0.35rem 0.25rem;
	padding-bottom:0;
	.everyDay{
		width:15.4rem;
		li{
			width:7.5rem;
			height:3.8rem;
			margin-bottom: 0.35rem;
			&:nth-child(even){
				float:right;

			}
			img{
				width:7.5rem;
				height:3.8rem;
			}
		}
	}
}
.box2{
	background-color:#fff;
	width:16rem;
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	border-right:none;
	padding-bottom:0;
	height:7.7rem;
	overflow:hidden;
	.box2-left img{
		width:6.7rem;
		border-right:1px solid #e0e0e0;
	}
	.box2-right {
		width:9.3rem;
		.top{
			height:2.7rem;
			overflow:hidden;
			border-bottom:1px solid #e0e0e0;
			img{
				width:9.2rem;
			}
		}
	}
	.bottom-left{
		border-right:1px solid #e0e0e0;
		height:5rem;
		 img{
			width:4.75rem;
			height:auto;
		}
	}
	
	.bottom-right img{
		width:4.45rem;
		height:auto;
	}
}	
.new{
	width:100%;
	height:1.875rem;
	border-bottom:1px solid #e0e0e0;
	border-top:1px solid #e0e0e0;
	text-align:center;
	background-color:#fff;
	margin-top:0.35rem;
	position:relative;
	.span1{
		font-size:0.625rem;
		line-height:1.875rem;
		z-index:20;
		position:relative;
		img{
			
		    position: relative;
		    z-index: -2;
		    width:0.55rem;
		    height:0.55rem;
		    left:-0.3rem;
		    top:-0.3rem;
		}
	}
	.span2{
		font-size:0.625rem;
		color:#ee7800;
		position:absolute;
		line-height:1.875rem;
		right:0.25rem;
	}
}
.box3{
	background-color:#fff;
	padding:0 0.25rem;
	padding-top:0.6rem;
	overflow:hidden;
}
.shopping-list{
	width:110%;
	li{
		width:5.0rem;
		overflow:hidden;
		border:1px solid #e0e0e0;
		border-radius:0.1rem;
		float:left;
		margin-right:0.25rem;
		margin-bottom:0.25rem;
		a{
			font-size:0.6rem;
			display:block;
			position:relative;
			padding-bottom:0.5rem;
			&:after{
				content:'';
				display:block;
				width:1.75rem;
				height:1.75rem;
				background:url('../img/addTo.jpg') center no-repeat;
				background-size:100% 100%;
				position:absolute;
				right:0.125rem;
				bottom:0.375rem;
			}
		}
		img{
			width:5.0rem;
			height:3.75rem;
		}
		p{
			@extend .ellipsis;
			padding:0 0.125rem;
		}
		span{
			width:2.5rem;
			padding-left:0.125rem;
			display:block;
			color:orange;
			margin-top:1.75rem;
		}
	}
	
}
#nav{
	background-color:#fff;
	bottom:0;
	height:2.5rem;
	border-top:1px solid $color_border;
	z-index:50;
	li{
		text-align:center;
		padding-top:0.25rem;
		&:nth-child(1){
			a.on{
				i{
					background-image:url('../img/home_2.png');
				}
			}
		}
		&:nth-child(2){
			i{
				background-image:url('../img/list_1.png');
			}
			a.on{
				i{
					background-image:url('../img/list_2.png');
				}
			}
		}
		&:nth-child(3){
			i{
				background-image:url('../img/car_1.png');
			}
			a.on{
				i{
					background-image:url('../img/car_2.png');
				}
			}
		}
		&:nth-child(4){
			i{
				background-image:url('../img/mine_1.png');
			}
			a.on{
				i{
					background-image:url('../img/mine_2.png');
				}
			}
		}
		
		i{
			display:block;
			height:1.025rem;
			background:url('../img/home_1.png') center no-repeat;
			background-size:auto 100%;

		}
		a{
			font-size:0.55rem;
			&.on{
				color:orange;
			}
		}
		
	}
}




